<app-header></app-header>

<div class="section-header">
  <h2 class="section-title">  
    <i>LATEST NEWS</i>  
    <hr style="width:10%;text-align:left;margin-left:0;height: 5px;background-color:orange">  
   </h2>  
</div>
<div style="display: flex;">
    <mat-card class="mat-elevation-z4">
    
      <img
        mat-card-image
        src="https://assets-in.bmscdn.com/discovery-catalog/events/tr:w-400,h-600,bg-CCCCCC:w-400.0,h-660.0,cm-pad_resize,bg-000000,fo-top:oi-discovery-catalog@@icons@@star-icon-202203010609.png,ox-24,oy-615,ow-29:ote-Ny43LzEwICAxNC40SyBWb3Rlcw%3D%3D,ots-29,otc-FFFFFF,oy-612,ox-70:q-80/et00353721-xfzhwcfulv-portrait.jpg"
      />
      <mat-card-content><a href="https://timesofindia.indiatimes.com/entertainment/telugu/movie-details/bichagadu-2/movieshow/98339031.cms"><h1>Bichagadu 2</h1></a></mat-card-content>
      

    </mat-card>
    <mat-card class="mat-elevation-z4">
    
      <img
        mat-card-image
        src="https://assets-in.bmscdn.com/discovery-catalog/events/tr:w-400,h-600,bg-CCCCCC:w-400.0,h-660.0,cm-pad_resize,bg-000000,fo-top:oi-discovery-catalog@@icons@@star-icon-202203010609.png,ox-24,oy-615,ow-29:ote-OC40LzEwICA3LjVLIFZvdGVz,ots-29,otc-FFFFFF,oy-612,ox-70:q-80/et00360114-lskrefpxbk-portrait.jpg"
      />
      <mat-card-content><a href="https://timesofindia.indiatimes.com/topic/2018-movie/news"><h1>2018</h1></a></mat-card-content>
      

    </mat-card>
    <mat-card class="mat-elevation-z4">
    
      <img
        mat-card-image
        src="https://assets-in.bmscdn.com/discovery-catalog/events/tr:w-400,h-600,bg-CCCCCC:w-400.0,h-660.0,cm-pad_resize,bg-000000,fo-top:oi-discovery-catalog@@icons@@star-icon-202203010609.png,ox-24,oy-615,ow-29:ote-OC44LzEwICA1Ny41SyBWb3Rlcw%3D%3D,ots-29,otc-FFFFFF,oy-612,ox-70:q-80/et00122562-dgpxgaudlw-portrait.jpg"
      />
      <mat-card-content><a href="https://timesofindia.indiatimes.com/entertainment/english/movie-reviews/fast-x/movie-review/100318027.cms"><h1>FAST X</h1></a></mat-card-content>
      

    </mat-card>
    <mat-card class="mat-elevation-z4">
    
      <img
        mat-card-image
        src="https://assets-in.bmscdn.com/discovery-catalog/events/tr:w-400,h-600,bg-CCCCCC:w-400.0,h-660.0,cm-pad_resize,bg-000000,fo-top:oi-discovery-catalog@@icons@@star-icon-202203010609.png,ox-24,oy-615,ow-29:ote-OC45LzEwICAyMTguMksgVm90ZXM%3D,ots-29,otc-FFFFFF,oy-612,ox-70:q-80/et00343918-vbbakgpnwq-portrait.jpg"
      />
      <mat-card-content><a href="https://indianexpress.com/about/the-kerala-story/"><h1>The Kerala Story</h1></a></mat-card-content>
      

    </mat-card>
    <mat-card class="mat-elevation-z4">
    
      <img
        mat-card-image
        src="https://assets-in.bmscdn.com/discovery-catalog/events/tr:w-400,h-600,bg-CCCCCC:w-400.0,h-660.0,cm-pad_resize,bg-000000,fo-top:oi-discovery-catalog@@icons@@star-icon-202203010609.png,ox-24,oy-615,ow-29:ote-OC4zLzEwICAxMTMgVm90ZXM%3D,ots-29,otc-FFFFFF,oy-612,ox-70:q-80/et00356927-wvfhmeqdzl-portrait.jpg"
      />
      <mat-card-content><a href="https://timesofindia.indiatimes.com/entertainment/english/movie-reviews/to-catch-a-killer/movie-review/100686847.cms"><h1>To catch a killer</h1></a></mat-card-content>
      

    </mat-card>
  </div>
<app-footer></app-footer>
