mat-toolbar {
    justify-content: space-between;
  }
  
  .content {
    padding: 16px;
  }
  
  .content > mat-card {
    margin-bottom: 16px;
  }
  
  .content > mat-card {
    width: 200px;
  }
  .mat-elevation-z4{
    width:10%;
    flex:1 1 auto;
    padding: 3px;
   
  }
  .display-card article large{
     width:50%;
  }
  .section-header{
    color: white;
    text-size-adjust: 50px;
  }
  hr{
    color: white;
    text-decoration-thickness: 10px;
  }
  
  