

  
  <mat-form-field class="flex">
    <mat-label>search movie</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. movie" #input>
    <mat-icon matPrefix>search</mat-icon>
  </mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>
     
      <ng-container matColumnDef="movieId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Movie ID </th>
        <td mat-cell *matCellDef="let movies"> {{movies.movieId}}</td>
      </ng-container>
  
    
      <ng-container matColumnDef="movieName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let movies"> {{movies.movieName}}</td>
      </ng-container>
  
    
      <ng-container matColumnDef="theatre">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Theatre </th>
        <td mat-cell *matCellDef="let movies"> {{movies.theatre}} </td>
      </ng-container>
  
     
      <ng-container matColumnDef="totalSeats">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Total Seats </th>
        <td mat-cell *matCellDef="let movies"> {{movies.totalSeats}}</td>
      </ng-container>

      <ng-container matColumnDef="availableSeats">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Available Seats </th>
        <td mat-cell *matCellDef="let movies"> {{movies.availableSeats}}</td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
        <td mat-cell [ngStyle]="{'color':movies.status == 'Sold Out' ? 'red' : 'green'}" *matCellDef="let movies"><b>{{movies.status}}</b></td>
      </ng-container>


      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let movies"> 
          <button mat-stroked-button (click)="viewTickets(movies.movieId)" class="demo-button" color="accent">
            Tickets
          </button>
        <button (click)=" delete(movies.movieId)" mat-mini-fab color="warn" aria-label="Example icon button with a delete icon">
            <mat-icon>delete</mat-icon>
          </button> 
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
      
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
  </div>
  <div class="demo-button-container">
    <ng-container matColumnDef="action">
      <button mat-raised-button color="accent" (click)="addMovie()">Add Movie</button>
     </ng-container>
  </div>
 
  



