<app-header></app-header>
  <mat-card class="card-demo">
    <mat-card-header>
      <mat-card-title>Your Account Details</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
   <br><br>
  <mat-card-content>
  <form class="example-form" novalidate fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="10px">    
    <table class="table table-bordered">
        <tr>
        <td>User ID</td>
        <td>{{user.userId}}</td>
    </tr>
    <tr>
        <td>User Name</td>
        <td>{{user.username}}</td>
    </tr>
    <tr>
        <td>Email</td>
        <td>{{user.email}}</td>
    </tr>
    <tr>
        <td>Role</td>
        <td>{{user.userRole}}</td>
    </tr>
  
    
</table>
      <mat-card-actions align="end">  
        <button mat-raised-button (click)="back()">Back</button>
    </mat-card-actions>  
  </form>
  </mat-card-content>
  </mat-card>
  <app-footer></app-footer>
  
  
  
  
  
  
  
  
  
  
  
  
  
 
