   <mat-toolbar color="white">
    <mat-toolbar-row>
      <button mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
      <h1>Movie Booking App</h1>
      <span class="menu-spacer"></span>
      
      <div>
        <a mat-button [routerLink]="'/adminhome'"> Admin Page </a>
        <a mat-button [routerLink]="'/userhome'"> User Page </a>
        
      </div>
      <span class="flexExpand"></span>
    <div>
        <button mat-icon-button color="btn-success" aria-label="Example icon button with a home icon"
        [routerLink]="'/home'">
          <mat-icon>home</mat-icon>
          </button>
        <a mat-button [routerLink]="'/profile'">My Profile</a>
        <a mat-button [routerLink]="'/logout'"> Logout </a>
    </div> 
    </mat-toolbar-row>
</mat-toolbar>
