
<app-header></app-header>
<mat-form-field class="flex">
    <mat-label>search</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. tscId" #input>
    <mat-icon matPrefix>search</mat-icon>
  </mat-form-field>
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
  
    
    <ng-container matColumnDef="transactionId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Transaction ID</th>
      <td mat-cell *matCellDef="let tickets"> {{tickets.transactionId}} </td>
    </ng-container>
  
   
    <ng-container matColumnDef="movieId_fk">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Movie ID </th>
      <td mat-cell *matCellDef="let tickets"> {{tickets.movieId_fk}} </td>
    </ng-container>
  
   
    <ng-container matColumnDef="movieName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Movie Name </th>
      <td mat-cell *matCellDef="let tickets"> {{tickets.movieName}} </td>
    </ng-container>
  
   
    <ng-container matColumnDef="theatre">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Theatre </th>
      <td mat-cell *matCellDef="let tickets"> {{tickets.theatre}} </td>
    </ng-container>

    <ng-container matColumnDef="noOfSeats">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Tickets Booked </th>
        <td mat-cell *matCellDef="let tickets"> {{tickets.noOfSeats}}</td>
      </ng-container>

      <ng-container matColumnDef="seatNo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Seat No</th>
        <td mat-cell *matCellDef="let tickets"> {{tickets.seatNo}}</td>
      </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
  </div>
  <div class="demo-button-container">
    <ng-container matColumnDef="action">
      <button mat-raised-button color="accent" (click)="back()">Back</button>
     </ng-container>
  </div>

<app-footer></app-footer>



