table {
    width: 100%;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 0%;
  }

  .demo-button-container {
    padding-top: 16px;
    
  }
  .flex{
    text-align: end;
    margin-left: 77%;
    width: 15%;
    padding-top: 5px;
   
  }
  .mat-elevation-z8{
    width: 85%;
    margin-left: 95px;
    border: 1px solid black;
  }
  .demo-button-container {
    padding-top: 16px;
    padding-bottom: 16px;
    margin-left: 95px;

  }
  